@model GiftBox.Web.ViewModels.Institution.DetailsInstitutionViewModel
    
<p>
    <span class="card-title grey-text text-darken-4"> @Model.Name<i class="mdi-navigation-close right"></i></span>
    <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> @Model.HomeAdministrator.FirstName @Model.HomeAdministrator.LastName</span>
</p>

<p>@Model.AditionalInfo</p>

<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> @Model.PhoneNumber</p>
<p><i class="mdi-communication-email cyan-text text-darken-2"></i> @Model.HomeAdministrator.Email</p>
<p><i class="mdi-communication-location-on cyan-text text-darken-2"></i> @Model.Location.Address</p>
<p><i class="mdi-maps-local-post-office cyan-text text-darken-2"></i> @Model.Location.PostCode</p>
<p><i class="mdi-action-perm-contact-cal` cyan-text text-darken-2"></i> @Model.ContactInfo</p>