@using GiftBox.Common
@using GiftBox.Web.ViewModels.Comments
@model GiftBox.Web.ViewModels.Institution.DetailsInstitutionViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="container">
        <ul class="tabs tab-demo z-depth-2" style="width: 100%;">
            <li class="tab col s4">
                <a class="active" href="#test1">Home Details</a>
            </li>
            <li class="tab col s4">
                <a href="#test2" class="">All Children Gifts</a>
            </li>
            <li class="tab col s4">
                <a href="#test3" class="">All Home Needs</a>
            </li>
            <div class="indicator" style="right: 598px; left: 0px;"></div>
            <div class="indicator" style="right: 598px; left: 0px;"></div>
        </ul>
    </div>
    <div class="col s12">
        <div id="test1" class="col s12" style="display: block;">
            <div class="card-panel hoverable">
                <div class="container z-depth-3">
                    <div id="profile-page-header" class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src=@Model.ImageUrl height="200px" alt="user background">
                        </div>
                        <figure class="card-profile-image">
                            <img src=@Model.HomeAdministrator.ImageUrl alt="profile image" class="circle z-depth-2 responsive-img activator">
                        </figure>
                        <div class="card-content">
                            <div class="row">
                                <div class="col s3 offset-s2">
                                    <h4 class="card-title grey-text text-darken-4"><a href="~/Settings/UpdateProfile/@Model.HomeAdministrator.Id">@Model.HomeAdministrator.FirstName @Model.HomeAdministrator.LastName</a></h4>
                                    <p class="medium-small grey-text">Home Administrator</p>
                                </div>
                                <div class="col s2 center-align">
                                    <h4 class="card-title grey-text text-darken-4">@Model.Name</h4>
                                    <p class="medium-small grey-text">Home Name</p>
                                </div>
                                <div class="col s2 center-align">
                                    <h4 class="card-title grey-text text-darken-4">@Model.Location.Country</h4>
                                    <p class="medium-small grey-text">Country</p>
                                </div>
                                <div class="col s2 center-align">
                                    <h4 class="card-title grey-text text-darken-4">@Model.Location.City</h4>
                                    <p class="medium-small grey-text">City</p>
                                </div>
                                <div class="col s1 right-align">
                                    <a class="btn activator waves-effect waves-light deep-purple accent-2 right">
                                        More Info
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal center" style="display: none; transform: translateY(0px);">
                            @Html.Partial(GlobalConstants.HomeDetailsPartial, Model)
                        </div>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="card-panel">
                            <div class="row">
                                <div class="col offset-s1 s10">
                                    @Html.Partial(GlobalConstants.AddCommentPartial, new AddCommentViewModel(Model.Id, null))
                                </div>
                            </div>
                            <div id="comments">
                                @{Html.RenderAction("GetPageCommentsPartial", "Comments", new { area = "", entityId = Model.Id });}
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="test2" class="col s12" style="display: none;">
            <div class="card-panel hoverable">
                @Html.Action("GetChildrenGifts", "Institution", new {area ="", homeId = Model.Id})
            </div>
        </div>
        <div id="test3" class="col s12" style="display: none;">
            <div class="card-panel hoverable">
               @Html.Partial(GlobalConstants.ListNeedsPartial, Model.Needs)
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            var onSuccess = function (result) {
                $.validator.unobtrusive.parse($(result));
            };
    </script>
}