@using GiftBox.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card-panel z-depth-4">
                                <h4>Log in</h4>
                                @Html.ValidationSummary("", new { style = "color: red" })
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-account-circle prefix"></i>
                                        @Html.TextBoxFor(m => m.Username)
                                        @Html.ValidationMessageFor(m => m.Username, "", new { style = "color: red" })
                                        @Html.LabelFor(m => m.Username)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock prefix"></i>
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password, "", new { style = "color: red" })
                                        @Html.LabelFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="center">
                                    <input type="submit" class="btn" value="Log in" />
                                </div>
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}