@model GiftBox.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel z-depth-4">
                <h4>Register</h4>
                @Html.ValidationSummary("", new { style = "color: red" })
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-account-circle prefix"></i>
                        @Html.TextBoxFor(m => m.Username)
                        @Html.LabelFor(m => m.Username)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.LabelFor(m => m.Email)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-account-box prefix"></i>
                        @Html.TextBoxFor(m => m.FirstName)
                        @Html.LabelFor(m => m.FirstName)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-account-box prefix"></i>
                        @Html.TextBoxFor(m => m.LastName)
                        @Html.LabelFor(m => m.LastName)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-phone prefix"></i>
                        @Html.TextBoxFor(m => m.PhoneNumber)
                        @Html.LabelFor(m => m.PhoneNumber)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock prefix"></i>
                        @Html.PasswordFor(m => m.Password)
                        @Html.LabelFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="center">
                    <input type="submit" class="btn" value="Register" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
