@using GiftBox.Common
@using GiftBox.Web.ViewModels
@using PagedList.Mvc;
@model PagedList.IPagedList<GiftBox.Web.ViewModels.Institution.DetailsInstitutionViewModel>

<div class="row">
    <div class="col s6 offset-s3">
        @Html.Partial(GlobalConstants.SearchPartial, new SearchViewModel() { Action = "Index", Label = "Search by home name or city" })
    </div>
</div>
<div class="container center">
    @Html.Partial(GlobalConstants.HomesListPartial, Model)
    @Html.Partial(GlobalConstants.PagingPartial, Model)
    <div id="ajax-search-results"></div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/custom")
}
