@using GiftBox.Common
@using PagedList.Mvc
@model PagedList.IPagedList<GiftBox.Web.ViewModels.Need.NeedViewModel>
@{
    ViewBag.Title = "All";
}

<div class="row">
    <div class="col s3 offset-s4">
        @{ Html.RenderAction("GetNeedCategoriesPartial");}
    </div>
</div>

<div id="all-needs">
    @Html.Partial(GlobalConstants.ListNeedsPartial, Model)
    <div class="center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("All", new { page }))
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/custom")
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
}