@using GiftBox.Common
@using GiftBox.Web.ViewModels.Comments
@model GiftBox.Web.ViewModels.Need.NeedViewModel
@{
    ViewBag.Title = "Details";
}

<div class="">
    <div class="section">
        <div class="divider"></div>
        <div class="row">
            <section class="plans-container" id="plans">
                <article class="col s6">
                    <div class="card hoverable">
                        <div class="card-image purple waves-effect z-depth-2">
                            <img src="@Model.ImageUrl" style="height: 250px;"/>
                        </div>
                        <div class="card-content">
                            <ul class="">
                                <li>Institution: <a href=@Url.Action("Details", "Institution", new {area = "", id = @Model.HomeId})>@Model.HomeName</a></li>
                                <li>Category: <b>@Model.Category</b></li>
                                <li>Description: <b>@Model.Description</b></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            <div class="col s6">
                <div class="card-panel z-depth-2">
                    <section id="contact" class="map" style="height: 390px;">
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=(@Model.Address.Replace(" ", "+"))&hl=bg&ie=UTF8&z=17&iwloc=&t=k&output=embed"></iframe>
                        <br/>
                        <small>
                            <a href="https://maps.google.com/maps?q=(@Model.Address.Replace(" ", "+"))&hl=bg&ie=UTF8&z=17&iwloc=&t=k&output=embed"></a>
                        </small>
                    </section>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container">
                <div class="card-panel">
                    <div class="row">
                        <div class="col offset-s1 s10">
                            @Html.Partial(GlobalConstants.AddCommentPartial, new AddCommentViewModel(null, Model.Id))
                        </div>
                    </div>
                    <div id="comments">
                        @{Html.RenderAction("GetPageCommentsPartial", "Comments", new { area = "", entityId = Model.Id, isNeed = true });}
                    </div>
                </div>
            </div>
      }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            var onSuccess = function (result) {
                $.validator.unobtrusive.parse($(result));
            };
    </script>
}